<template>
    <div class="modal">
        <div class="modal-background" />
        <div class="modal-content">
            <header class="modal-content-header">
                <h2 class="modal-content-header-title">Кошик</h2>
            </header>
            <div class="modal-content-body">
                <div
                    class="modal-content-body--item"
                    v-for="product in products"
                    :key="product.id"
                >
                    <div class="modal-content-body--item-left">
                        <img
                            class="modal-content-body--item-image"
                            :src="product.src"
                            alt=""
                        />
                        <h3 class="modal-content-body--item-title">
                            {{ product.item }}
                        </h3>
                    </div>

                    <div class="modal-content-body--item-right">
                        <div class="modal-content-body--item-price">
                            {{ product.price }} ₴
                        </div>
                        <button
                            @click="reduceCount(product)"
                            class="modal-content-body--item-button"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xml:space="preserve"
                                class="modal-content-body--item-button-icon modal-content-body--item-button-icon-rotate"
                                viewBox="0 0 64 64"
                            >
                                <path
                                    d="M-256-128h1280v800H-256z"
                                    style="fill: none"
                                />
                                <path
                                    d="M109.01 32.025 84.939 7.954l-3.008 3.009 21.061 21.062-21.061 21.062 3.008 3.008 24.071-24.07ZM32.16 18.778 8.089 42.849l3.009 3.009L32.16 24.796l21.062 21.062 3.009-3.009L32.16 18.778Z"
                                    style="fill-rule: nonzero"
                                />
                            </svg>
                        </button>
                        <div class="modal-content-body--item-count">
                            {{ product.count }} шт
                        </div>
                        <button
                            @click="increaseCount(product)"
                            class="modal-content-body--item-button"
                        >
                            <svg
                                xmlns="http://www.w3.org/2000/svg"
                                xml:space="preserve"
                                class="modal-content-body--item-button-icon"
                                viewBox="0 0 64 64"
                            >
                                <path
                                    d="M-256-128h1280v800H-256z"
                                    style="fill: none"
                                />
                                <path
                                    d="M109.01 32.025 84.939 7.954l-3.008 3.009 21.061 21.062-21.061 21.062 3.008 3.008 24.071-24.07ZM32.16 18.778 8.089 42.849l3.009 3.009L32.16 24.796l21.062 21.062 3.009-3.009L32.16 18.778Z"
                                    style="fill-rule: nonzero"
                                />
                            </svg>
                        </button>
                    </div>
                </div>
            </div>
            <footer class="modal-content-footer"></footer>
            <button
                @click="closeModal"
                class="modal-content-close-button"
            >
                <svg
                    class="modal-content-close-button-icon"
                    xmlns="http://www.w3.org/2000/svg"
                    viewBox="0 0 24 24"
                >
                    <g clip-path="url(#a)">
                        <path
                            stroke-linecap="round"
                            stroke-linejoin="round"
                            stroke-width="2.5"
                            d="m7 7 10 10M7 17 17 7"
                        />
                    </g>
                    <defs>
                        <clipPath id="a">
                            <path
                                fill="#fff"
                                d="M0 0h24v24H0z"
                            />
                        </clipPath>
                    </defs>
                </svg>
            </button>
        </div>
    </div>
</template>

<script>
export default {
    emits: ['close'],
    data() {
        return {
            products: [],
        };
    },
    mounted() {
        this.products = this.$store.getters['shoppingCart/cart'];
    },
    methods: {
        closeModal() {
            this.$emit('close');
        },
        reduceCount(product) {
            this.$store.commit('shoppingCart/CHANGE_PRODUCT_COUNT', {
                productId: product.id,
                quantity: -1,
            });
        },
        increaseCount(product) {
            this.$store.commit('shoppingCart/CHANGE_PRODUCT_COUNT', {
                productId: product.id,
                quantity: 1,
            });
        },
    },
};
</script>

<style scoped>
.modal {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1;

    display: flex;
    align-items: center;
    justify-content: center;
}

.modal-background {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: gray;
    opacity: 0.8;
    z-index: -1;
}

.modal-content {
    position: relative;

    max-width: 1000px;
    min-width: 700px;
    max-height: 700px;
    min-height: 500px;

    background-color: white;

    border-radius: 20px;
}

.modal-content-header {
    padding: 20px 30px;
}

.modal-content-header-title {
    margin: 0;
    font-weight: 500;
    font-size: 24px;
}
.modal-content-body {
    display: flex;
    flex-direction: column;
    row-gap: 15px;
    margin-top: 20px;
    padding: 0 30px;
}

.modal-content-close-button {
    margin: 0;
    padding: 3px;

    width: 32px;
    height: 32px;

    position: absolute;
    top: 0;
    left: 100%;

    border-radius: 50%;
    border: none;
    transform: translate(-50%, -50%);
    background-color: #fecdd3;
    stroke: #3f3f46;
    cursor: pointer;
}

.modal-content-close-button-icon {
    width: 100%;
    height: 100%;
    stroke: inherit;
}

.modal-content-body--item-left {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.modal-content-body--item-right {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.modal-content-body--item {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.modal-content-body--item-image {
    height: 60px;
    border-radius: 5px;
}

.modal-content-body--item-title {
    font-weight: 400;
    font-size: 16px;
}

.modal-content-body--item-price {
    color: #9333ea;
    font-size: 16px;
}

.modal-content-body--item-button {
    padding: 5px 8px;

    background-color: #e4e4e7;
    border: none;
    border-radius: 10px;

    cursor: pointer;
    color: #52525b;

    display: flex;
    align-items: center;

    transition: all 0.1s;
    fill: #3f3f46;
}

.modal-content-body--item-button:hover {
    background-color: #c084fc;
    fill: white;
}

.modal-content-body--item-button-icon {
    width: 16px;
    height: 16px;
    fill: inherit;
}

.modal-content-body--item-button-icon-rotate {
    transform: rotate(180deg);
}
</style>
