<template>
    <button
        @click="openShoppingCart"
        class="open-shopping-cart-button"
    >
        Open shopping cart
    </button>

    <Teleport to="body">
        <ShoppingCart
            v-if="isOpened"
            @close="closeShoppingCart"
        />
    </Teleport>
</template>

<script>
import ShoppingCart from './ShoppingCart.vue';

export default {
    components: {
        ShoppingCart,
    },
    data() {
        return {
            isOpened: false,
        };
    },
    methods: {
        openShoppingCart() {
            this.isOpened = true;
        },

        closeShoppingCart() {
            this.isOpened = false;
        },
    },
};
</script>

<style scoped>
.open-shopping-cart-button {
    padding: 10px 20px;
    display: inline;

    border: none;
    border-radius: 5px;

    font-size: 16px;

    background-color: #e4e4e7;
    cursor: pointer;

    color: #27272a;

    transition: all 0.1s;
}

.open-shopping-cart-button:hover {
    background-color: #c084fc;
    color: white;
}
</style>
