<template>
    <button
        @click="addProductToCart"
        class="btn"
    >
        Add to cart
    </button>
</template>

<script>
export default {
    props: {
        product: {
            required: true,
        },
    },
    methods: {
        addProductToCart() {
            this.$store.commit('shoppingCart/ADD_TO_CART', this.product);
        },
    },
};
</script>

<style lang="scss" scoped></style>
