<template>
    <div>
        <h2 v-if="product">
            This is page for product #{{ product.id }}: {{ product.item }}
        </h2>
        <h2 v-else>Product not found</h2>
        <div>
            <AddToCartButton :product="this.product" />
        </div>
    </div>
</template>

<script>
import products from '../data/products.js';
import AddToCartButton from './AddToCartButton.vue';

export default {
    components: { AddToCartButton },
    data() {
        return {
            product: null,
        };
    },
    mounted() {
        this.product = products.find(item => {
            return item.id === Number(this.$route.params.id);
        });
    },
};
</script>
