<template>
    <div class="products">
        <form class="searchbar">
            <input
                placeholder="Пошук"
                v-model="search"
            />
            <input
                type="submit"
                class="btn"
            />
        </form>
        <div
            class="product"
            v-for="item in filteredItems"
            v-bind:key="item.id"
        >
            <div class="product-image">
                <img v-bind:src="item.src" />
            </div>
            <div>
                <h4 class="product-title">
                    <router-link v-bind:to="'/product/' + item.id">
                        {{ item.item }}
                    </router-link>
                </h4>
                <label>{{ item.price }}</label>
                <AddToCartButton :product="item" />
            </div>
        </div>
    </div>
</template>

<script>
import products from '../data/products.js';
import AddToCartButton from './AddToCartButton.vue';

export default {
    components: { AddToCartButton },
    data() {
        return {
            items: [],
            search: '',
            searchResult: [],
        };
    },
    mounted() {
        this.items = products;
    },
    computed: {
        filteredItems() {
            if (!this.search) {
                return this.items;
            }

            return this.items.filter(element => {
                return element.item
                    .toUpperCase()
                    .includes(this.search.toUpperCase());
            });
        },
    },
};
</script>
